.w3-bar.w3-blue-grey
	.w3-right.w3-blue-grey
		i.fas.fa-sun.fa-5x
	h2
		i.fas.fa-cogs.fa-2x.w3-margin-right
		| Engenho Novo LLC


#mySidebar.w3-sidebar.w3-bar-block.w3-collapse.w3-card(style='width:200px;')
	button.w3-bar-item.w3-button.w3-hide-large(onclick='w3_close()') Close &times;

	a.w3-bar-item.w3-button(href='#') Link 1

	a.w3-bar-item.w3-button(href='#') Link 2

	a.w3-bar-item.w3-button(href='#') Link 3
.w3-main(style='margin-left:200px')
	.w3-blue-grey
		button.w3-button.w3-blue-grey.w3-xlarge(onclick='w3_open()')
	
		.w3-container
			i.fas.fa-university.fa-3x
				h1 Engenho Velho Pentelho
