extends layout

block content

	include partials/navy-blue

	.w3-display-container.w3-display-middle.w3-center
		h1
			i.fas.fa-sun.fa-5x.w3-margin-right
		h1.w3-margin-top Addio Mondo Crudele
		h1.w3-margin-top
			i.fas.fa-chess.fa-5x
